<footer>
    <div class="main">
        <div class="social">
            <div><img width="30" height="30" src="https://img.icons8.com/fluency/48/instagram-new.png" alt="instagram-new"/></div>
            <div><img width="30" height="30" src="https://img.icons8.com/color/48/twitter--v1.png" alt="twitter--v1"/></div>
            <div><img width="30" height="30" src="https://img.icons8.com/color/48/facebook-new.png" alt="facebook-new"/></div>
        </div>
        <div>&#169;Nikhil Infotech Private  limited</div>
    <div class="links">
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
    </div>
</div>
</footer>