<% layout("/layouts/bolierplate.ejs") %>
<div class="row">
    <div class="col-6 offset-4 mt-4">
        <h3>Login:</h3>
        <form method="post"  action="/login" novalidate class="needs-validation">
            <div class="mb-3 col-8">
            <input type="text" placeholder="Enter user name" name="username" class="form-control" required/>
            </div>
            <div div class="mb-3 col-8">
            <input type="text" placeholder="Enter  Strong Password" name="password" class="form-control" required/>
            </div>
            <button type="submit" class="btn edit">Login</button>
        </form>
        </div>
        </div>
        
